header {
    background-color: rgb(218, 207, 207);
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    right: 0;
    top: 110px;
}

nav li {
    display:inline;
    vertical-align: top;
    margin-left: 15px;
}

nav a {
    text-transform: uppercase; /* muda a letra para miusculo */
    color: black;
    font-weight: bold; /* negrito */
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: orange;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: solid 2px black;
    border-radius: 10px;
}

.produtos li:hover { /* ENQUANTO MOUSE EM CIMA MUDA O ELEMENTO */ 
    border-color: orange;
}

.produtos li:active { /* ENQUANTO CLICADO MUDA A COR */
    border-color: rgb(255, 106, 0);
}

.produtos li:hover h2 { /* OS ELEMENTOS JA ESTAVAM ESPECIFICADOS,LOGO NÃO FUNCIONA, ENTÃO DEVEMOS ESPECIFICAR NO HOVER PARA DAR CERTO */
    font-size: 35px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.descrição {
    font-size: 18px;
}

.preço {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}